body {
    background-color: #252725;
    color: #777D77;
}
#form {
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    border: 1px solid #777D77;
    border-radius: 10px;
    background-color: #a9caae;
    color: black;
}
#carousel {
    background-color: #a9caae;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    border: 1px solid #777D77;
    border-radius: 10px;
}

#submit {
    background-color: #00B006;
}

select {
    background-color: #e0f8e1;
}
