body {
    background-color: #252725;
    color: #777D77;
}

#main{
    inline-size: flex;
}
#form {
    padding: 250px;
    margin: 20px;
    width: 200px;
    border: 1px solid #777D77;
    border-radius: 10px;
    background-color: #a9caae;
    color: black;
}
#carousel {
    background-color: #a9caae;
    padding: 250px;
    margin: 20px;
    width: 300px;
    border: 1px solid #777D77;
    border-radius: 10px;
    position: absolute;
    top: 99px;
    left: 710px;
}

#submit {
    background-color: #00B006;
}

select {
    background-color: #e0f8e1;
}
